<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- Bean Properties can be directly specified as follows -->
	<bean id="studentbean" class="com.javatpoint.Student">
		<property name="name" value="Vimal Jaiswal"   ></property>
	</bean>
	<!-- Constructor Arguments Can Be Passed To Beans . If Type is not specified 
		string is taken -->
	<bean id="employeeBean" class="com.javatpoint.Employee">
		<!-- <constructor-arg value="10"></constructor-arg> <constructor-arg value="ABC"></constructor-arg> -->
		<constructor-arg value="10" type="int"></constructor-arg>
		<constructor-arg value="Parjanya Roy"></constructor-arg>
		<constructor-arg>
			<ref bean="addressBean"></ref>
		</constructor-arg>
	</bean>
	<!-- The below bean is a referred in the address field of the employeeBean 
		class -->
	<bean id="addressBean" class="com.javatpoint.Address">
		<constructor-arg value="10" type="int"></constructor-arg>
		<constructor-arg value="Kolkata"></constructor-arg>
		<constructor-arg value="West Bengal"></constructor-arg>
		<!-- Following shows how collections can be mapped.If collection of a reference 
			object is to be mapped instead of a primitive <ref bean=></ref> should be 
			used instead of <value></value> -->
		<constructor-arg>
			<list>
				<value>123</value>
				<value>456</value>
			</list>
		</constructor-arg>
	</bean>

	<!-- Similarly for using maps following tag structure can be used <constructor-arg> 
		<map> 
		<entry key="Java is a Programming Language" value="Ajay Kumar"></entry> 
		</map> 
		</constructor-arg> -->

	<!-- For Mapping non primitive value for key value pair in map
	<constructor-arg>  
	<map>  
	<entry key-ref="answerBean1" value-ref="userBean1"></entry>  
	<entry key-ref="answerBean2" value-ref="userBean2"></entry>  
	</map>  
	</constructor-arg> -->  
</beans>  